.full-acc{
    background: linear-gradient(rgba(255, 0, 0, 0.148), white);
    height: 90vh;
    display: grid;
    justify-content: center;
    align-items: center;
}
.main-acc{
    width: 400px;
    height: 500px;
    background-color: white;
}