<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Document</title>
</head>
<body>
    {{>navbar}}
    <h1 class="name-after-reg">Welcome To Website <span>{{userName}}</span></h1>
    {{>footer}}
</body>
</html>