.c-form{
    text-align: center;
    padding-top: 30vh;
    height: 90vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aqua;
}
.c-form h1{
    font-size: 50px;
    transition: all 0.5s;
}
#input-text{
    padding: 20px;
    font-size: 30px;
    border: 2px solid rgb(231, 231, 231);
    border-radius: 20px;
    margin: 30px 0px;
    text-align: center;
}
#input-text:active{
    border: 0px;
}
#input-text::placeholder{
    color: rgb(0, 0, 115);
}