.loader{
    display: grid;
    height: 100vh;
    place-content: center;
    font-weight: 700;
    background-color: rgb(29, 29, 29);
    color: white;
}
.loading-icon{
    width: 40px;
    height: 40px;
    border-top: 4px solid rgb(252, 252, 252);
    margin: auto;
    border-radius: 100%;
    animation: spin 1s infinite;
}
@keyframes spin {
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}