@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
.nav-bar{
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: black;
    z-index: 998;
    transition: all 0.5s !important;
}
.left-nav{
    width: 20%;
    margin: auto;
}
.left-nav h1{
    text-align: center;
    background-color: black;
    width:fit-content;
    margin: auto;
    color: white;
    padding: 0px 20px;
    font-family: 'Caveat', cursive;
    font-size: 35px;
}
.mid-nav{
    width: 80%;
    margin: auto;
}
.nav-list{
    list-style-type: none;
    display: flex;
    margin: auto;
}
.list-items{
    margin: auto;
    font-family: 'Caveat', cursive;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    color: white;
}
.list-items a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.list-items::after{
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: red;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s;
}
.list-items:hover::after{
    transform: scaleX(1);
}
.sub-list{
    position: absolute;
    list-style-type: none;
    text-align: center;
    padding: 10px 10px;
    justify-content: center;
    margin-left: -25px;
    box-shadow: 0 0 10px black;
    margin-top: 5px;
    display: none;
    background-color: rgb(255, 255, 255);
}
.show-code:hover .sub-list{
    display: block;
}
.sub-list-items{
    padding: 10px;
    color: black;
}
.sub-list-items::after{
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: red;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s;
}
.sub-list-items:hover::after{
    transform: scaleX(1);
}
.right-nav{
    width: 10%;
    margin: auto;
    display: flex;
}
.btnss{
    background-color: rgb(99, 99, 239);
    padding: 5px 10px;
    margin-right: 10px;
}
.btnss a{
    color: white;
    cursor: pointer;
    font-family: 'Caveat', cursive;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.home-right{
    padding: 0px 20px;
}

.hr-topics{
    margin: 30px 0px;
    cursor: pointer;
}
.hr-topics::after{
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: red;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s;
}
.hr-topics:hover::after{
    transform: scaleX(1);
}
.hr-topics:hover{
    color: red;
}
.h-long-card{
    width: 100%;
    display: flex;
}
.ft-img{
    width: 20%;
    overflow: hidden;
}
.ft-img img{
    width: 100%;
    transition: all 0.2s;
}
.ft-img img:hover{
    transform: scale(1.2);
}
.f-t-card{
    width: 80%;
    padding: 0px 30px;
    font-size: 20px;
    margin: auto;
    font-weight: 600;
}
.tag{
    padding: 0;
    margin: 0;
    color: white;
    background-color: black;
    width: fit-content;
    padding: 0px 10px;
    font-size: 15px;
}
.h-card-long{
    margin-top: 30px;
}
.bgr{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    display: none;
}
.lines{
    width: 40px;
    border: 2px solid white;
    margin: 10px;
}
@media screen and (max-width: 1270px) {
    .nav-bar{
        display: block;
    }
}
@media screen and (max-width: 1315px) {
    .bgr{
        display: block;
    }
    .nav-bar{
        height: 55px;
    }
    .left-nav{
        width: 100%;
    }
    .nav-list{
        display: block;
        text-align: center;
        margin: 30px;
    }
    .list-items{
        margin: 30px;
    }
    .mid-nav{
        display: none;
    }
    .right-nav{
        width: fit-content;
        display: none;
    }
    .btnss{
        margin: auto;
        margin-bottom: 30px;
        margin-left: 30px;
    }
}
