<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Login | PicBazaar</title>
</head>
<body>
    {{>navbar}}
    <div class="container">
        <div class="m-400">
            <form action="/login" method="post">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">UserID</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name = "username">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" name = "password">
                  <div id="emailHelp" class="form-text" style="color: red;">{{pState}}</div>
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Show Password</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <div class="link-s"><a href="/signup">Don't Have an account?</a></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>